html {
  background: #ddd;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.post-card {
  margin-top: 15px;
  padding: 15px 0 0;
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  border: 1px solid rgba(160, 160, 160, 0.3);
  border-left: 0 solid;
  border-right: 0 solid;
}

.post-content {
  padding: 5px 20px 10px;
}

.post-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #222221;
  cursor: pointer;
  padding-left: 20px;
}

.post-date {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: #898988;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #4fa4e5 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #898988 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #4fa4e5 !important;
}

/* Tablet */
@media (min-width:800px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .post-card {
    margin-top: 15px;
    padding: 20px 0 0;
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid rgba(160, 160, 160, 0.3);
  }

  .post-content {
    padding: 0 50px 10px;
  }

  .post-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #222221;
    cursor: pointer;
    padding-left: 55px;
  }

  .post-date {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    color: #898988;
    padding-left: 55px;
  }
}

/* Desktop */
@media (min-width:1300px) {
  main {
    padding-left: 90px;
    padding-right: 90px;
  }

  .post-card {
    margin-top: 15px;
    padding: 20px 0 0;
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid rgba(160, 160, 160, 0.3);
  }

  .post-content {
    padding: 0 100px 10px;
  }

  .post-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #222221;
    cursor: pointer;
    padding-left: 90px;
  }

  .post-date {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    color: #898988;
    padding-left: 90px;
  }
}

/* Big Desktop */
@media (min-width:1600px) {
  main {
    padding-left: 305px;
    padding-right: 305px;
  }

  .post-card {
    margin-top: 15px;
    padding: 20px 0 0;
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid rgba(160, 160, 160, 0.3);
  }

  .post-content {
    padding: 0 200px 10px;
  }

  .post-header {
    padding-left: 200px;
    padding-right: 0;
  }

  .post-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #222221;
    cursor: pointer;
    padding-left: 0;
  }

  .post-date {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    color: #898988;
    padding-left: 0;
  }
}
