<main>

  <mat-card class="post-card">

    <mat-card-header class="post-header">
      <mat-card-title class="post-title">ABOUT</mat-card-title>
    </mat-card-header>

    <div class="post-content">
      <p>I'm a passionate software developer who finds joy in the boundless energy and curiosity of my son and daughter. Coding and reading are my passions, and I thrive on sharing knowledge, constantly learning, and embracing new experiences whenever I can.</p>
      <p>This blog serves as a compilation of my thoughts and discoveries as I continue to learn and grow. I share fascinating articles, write my own insights, and actively contribute to the software community.</p>
      <p>Feel free to reach out to me with any questions or comments, and I'll be delighted to respond.</p>
      <p>Thank you for joining me on this journey!</p>

      <h1>Mission Statement</h1>
      <p>As a dedicated software developer, my goal is to create high-quality code that adds value to the end user.</p>
      <p>I deliver results. While I appreciate thoughtful discussions about problems and refining designs, I understand that the ultimate measure of success lies in delivering reliable and functional solutions.</p>
      <p>My values:</p>
      <div>
        <li>Responsibility and accountability: I take ownership of my work and hold myself accountable for its outcomes.</li>
        <li>Embracing failure: I don't shy away from failures, but instead, learn from them and use them as opportunities for growth.</li>
        <li>Solution-oriented mindset: Rather than merely pointing out problems, I actively propose improvements and work towards finding solutions.</li>
        <li>Pursuit of excellence: I strive for excellence in everything I do, constantly seeking ways to improve and push boundaries.</li>
      </div>
    </div>
  </mat-card>
</main>
