<footer>

  <div>
    <p class="newsletter-title">READY TO GO DEEPER? GET MY ARTICLES AND OTHER NEWS SENT DIRECTLY TO YOUR INBOX</p>
    <form action="https://joantolos.us13.list-manage.com/subscribe/post?u=8744cc4499436e234cb9f66f4&amp;id=a44629fabe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
      <div style="display: flex; flex-direction: row">
        <input id="mce-EMAIL" style="width: 100%" type="email" placeholder="Your email" name="EMAIL" class="required email">
        <a id="mce-button" href="javascript:document.getElementById('mc-embedded-subscribe-form').submit();" class="material-symbols-outlined">
          arrow_forward
        </a>
      </div>
      <p class="newsletter-subtitle">YOU'LL RECEIVE THE BLOG POSTS VIA EMAIL. YOUR EMAIL IS NEVER SOLD OR SHARED</p>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_8744cc4499436e234cb9f66f4_a44629fabe" tabindex="-1" value="">
      </div>
    </form>
  </div>

  <div class="footer-links-container">
    <div>
      <p><a [routerLink]="['']" class="logo">Joan Tolós</a></p>
      <p>coding, blogging, podcasting</p>
    </div>
    <div class="footer-links">
      <div><a [routerLink]="['blog/page/1']">Blog</a></div>
      <div><a [routerLink]="['podcast/page/1']">Podcast</a></div>
      <!-- <div><a target="_blank" href="https://shop.spreadshirt.es/nadanuevobajoelsol">Store</a></div> -->
      <div><a [routerLink]="['about']">About</a></div>
      <div><a [routerLink]="['contact']">Contact</a></div>
    </div>

    <hr>

    <div class="footer-links">
      <div><a [routerLink]="['terms-and-conditions']">Terms and conditions</a></div>
      <div><a [routerLink]="['privacy-policy']">Privacy Policy</a></div>
      <div><a [routerLink]="['cookie-policy']">Cookie Policy</a></div>
    </div>

    <hr>

    <div>
      <p>Let's chat</p>
      <p><a href="mailto:info@joantolos.com">info@joantolos.com</a></p>
      <div>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://twitter.com/JoanTolos" class="fa fa-twitter"></a>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://youtube.com/channel/UC4wf7OriE3f08dmbVvHykQg" class="fa fa-youtube"></a>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://podcasts.apple.com/es/podcast/nada-nuevo-bajo-el-sol/id1563220961" class="fa fa-podcast"></a>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://open.spotify.com/show/6BcHhm3wO3cvSIMZL6ssG8" class="fa fa-spotify"></a>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://linkedin.com/in/joantolos" class="fa fa-linkedin"></a>
        <a target="_blank" style="padding-right: 15px; font-size: 20px" href="https://github.com/joantolos" class="fa fa-github"></a>
      </div>
    </div>
  </div>

  <div class="copy">
    copyright &copy; 2026 Joan Tolós. All rights reserved
  </div>

</footer>
