.sidebar {
  display: flex;
  flex-direction: column;
}

.podcast-box,
.subscribe-box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.podcast-box {
  margin-top: 15px;
  display: none;
}

.podcast-box-small {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: block;
}

.podcast-title,
.subscribe-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #222221;
  font-size: 20px;
  margin-bottom: 10px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-link {
  margin-right: 10px;
}

.social-link:last-child {
  margin-right: 0;
}

.list-container {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 21px;
  padding-right: 21px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #222221;
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: #898988;
}

.subtitle mat-icon {
  margin-right: 5px;
}

.description {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.audio-player {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
}

.video-player {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 320px; /* You can adjust this value as needed for your design */
  height: 180px; /* Proportionally calculated: (315 / 560) * 320 */
}

.previous-next-buttons {
  margin-top: 25px;
}

.material-symbols-outlined {
  padding-bottom: 2px;
  font-weight: 600;
  vertical-align: middle;
}

/* Tablet */
@media (min-width: 800px) and (max-width: 999px) {

  .previous-next-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .podcast-box-small {
    display: none;
  }

  .podcast-box {
    display: block;
  }

  iframe {
    width: 560px;
    height: 315px; /* Same as big desktop size */
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

/* Desktop */
@media (min-width: 1000px) and (max-width: 1299px) {

  .container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar {
    width: 35%;
  }

  .list-container {
    width: 65%;
    padding-right: 20px;
  }

  .previous-next-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .podcast-box-small {
    display: none;
  }

  .podcast-box {
    display: block;
  }

  iframe {
    width: 468px; /* Proportionally calculated: (560 / 1.2) */
    height: 263px; /* Proportionally calculated: (315 / 1.2) */
  }
  
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

/* Medium Desktop */
@media (min-width: 1300px) and (max-width: 1599px) {

  .container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }

  .sidebar {
    width: 35%;
  }

  .list-container {
    width: 65%;
    padding-right: 20px;
  }

  .previous-next-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .podcast-box-small {
    display: none;
  }

  .podcast-box {
    display: block;
  }

  iframe {
    width: 455px; /* Proportionally calculated: (560 / 1.23) */
    height: 256px; /* Proportionally calculated: (315 / 1.23) */
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

/* Big Desktop */
@media (min-width: 1600px) {

  .container {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
  }

  .sidebar {
    width: 35%;
  }

  .list-container {
    width: 65%;
    padding-right: 20px;
  }

  .previous-next-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .podcast-box-small {
    display: none;
  }

  .podcast-box {
    display: block;
  }

  iframe {
    width: 560px;
    height: 315px;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}