/* You can add global styles to this file, and also import other style files */
* {
  background: #222221;
  background: rgba(17, 17, 17, 0.3);
  background: #898988;
  background: #dedede;
  background: #f5f4f4;
}
